# system files
.DS_Store
__pycache__/
.mypy_cache/*
.idea/*
.vscode/

# private data, except of the pipeline test snippet
data/*
!data/english_pipeline_test_head.jsonlines
!data/data_utils.py

# big cached data
*.pickle

# test output tmp files
test_logs.log
